body{
    color: white;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}
 header img {
    width: 250px;
    height: 250px;
    border-radius: 30%;
    border: 20px red;