{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>CONTATO</title>
    <link rel="stylesheet" href={% static "cont.css" %}>

<header>
    <a href="https://ibb.co/Xj65LTW"><img src="https://i.ibb.co/Xj65LTW/zapin3.jpg" alt="zapin3" border="0"></a>
</header>
</body><div class="text">
        </h1><center></center><h1>
    <nave>
    <ul>
        <li>
            <a href="http://localhost:8000"><</a>
        </li>
   <h2> <center>🔴ACESSE O WHATSAPP OU MÍDIA SOCIAL PARA OBTER MAIS INFORMAÇÕES:</center><h2>
   </center><p>🔴WHATSAPP>+55 43 996399278<p></center>
      </center><br>🔴INSTAGRAM>@bancopro.ofc<br><center>


<h2>ATENDIMENTO ONLINE 24 HORAS!</h2>

</html>