{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>BANCOPRO</title>
    <link rel="stylesheet" href={% static "index.css" %}>
    </head>
</body>
<div class="text">
    <nave>
    <ul>

        <li>
            <a  class="imv" href="contato.html">Contate-nos</a>
        </li>
        <li>
            <a href="questions"> Dúvidas</a>
        </li>
    </ul>
   </nave>

    <ul>

        <li>
            <center><a  class="imv" href="pacotes.html">Pacotes</a></center>

    <header>
            <div class="center">
               <a href="https://ibb.co/1GcvNbQ"><img src="https://i.ibb.co/1GcvNbQ/8341af67-8025-4374-a6cf-68e7a18e445c-1.png" alt="8341af67-8025-4374-a6cf-68e7a18e445c-1" border="0"></a>
        </div>
        <h1>BancoPRO</h1>
        <h2>A melhor plataforma digital para aprender sobre finanças!</h2>
    </header>
    <main>
        <section>
            <h3> Sobre nós</h3>
            <p>
                Plataforma com intuíto de FACILITAÇÃO no ramo de INVESTIMENTOS;
            </p>
        </section>
        <section>
            <h3> Como funciona o "NOSSO SEU INVESTIMENTO"?</h3>
            <p>
                "NOSSO SEU INVESTIMENTO", maneira totalmente interativa e de tempo real, com profissionais capacitados te mostrando as melhores maneiras de se investir. Confira abaixo os pacotes!
            </p>
        </section>
    </main>

    <footer>
        <a href="https://www.tesourodireto.com.br/titulos/precos-e-taxas.htm" target="_blank" rel="noopener noreferrer">
           <a href="https://ibb.co/MDtZJ3C"><img src="https://i.ibb.co/MDtZJ3C/iniciante.jpg" alt="iniciante" border="0"></a>
             <ul>

        <li>
            <a  class="imv" href="">⬆PACOTE INVESTIDOR INEXPERIENTE⬆</a>
        </li>

        <a href="https://fiagro.com.br/vgia11/" target="_blank" rel="noopener noreferrer">
            <a href="https://ibb.co/gPbDbrc"><img src="https://i.ibb.co/gPbDbrc/experiente.jpg" alt="experiente" border="0"></a>
            <ul>

        <li>
            <a  class="imv" href="">⬆PACOTE INVESTIDOR EXPERIENTE⬆</a>
        </li>


        </a>


    </footer>
</div>

</body>
</html>