{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Pacotes</title>
    <link rel="stylesheet" href={% static "pacote.css" %}>
</head>
<ul>
        <li>
            <a href="http://localhost:8000"><</a>
        </li>
<h1>🔴PACOTE INVESTIDOR INEXPERIENTE<h1>
<br>PAGUE SOMENTE 39,99 R$ MENSALMENTE OU 340,00 R$ ANUALMENTE E TENHA AS SEGUINTES VANTAGENS:<br>
<p>🔴CONSULTAS 2X DURANTE A SEMANA NOS SEGUINTES DIAS, QUARTA-FEIRA E AOS SÁBADOS!<p>


<header><a href="https://imgbb.com/"><img src="https://i.ibb.co/C5YmSTH/iniciante.jpg" alt="iniciante" border="0" /></a></header>
<body>
<h2>🔴PACOTE INVESTIDOR EXPERIENTE</h2>
<br>PAGUE SOMENTE 56,50 R$ MENSALMENTE OU 427,00 R$ ANUALMENTE E TENHA AS SEGUINTES VANTAGENS:<br>
<p>CONSULTAS 4X DURANTE A SEMANA NOS SEGUINTES DIAS: SEGUNDA-FEIRA, QUARTA-FEIRA, SEXTA FEIRA E AOS SÁBADOS!</p>

<a href="https://ibb.co/gPbDbrc"><img src="https://i.ibb.co/X3fzfWG/experiente.jpg" alt="experiente" border="0" /></a>



</body>
</html>