{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duvidas:</title>
    <link rel="stylesheet" href={% static "duvidas.css" %}>
</head>
<header>
    <a href="https://ibb.co/s9QpTVf"><img src="https://i.ibb.co/s9QpTVf/duvida.jpg" alt="duvida" border="0"></a>

</header>
<div class="center">
<body>P: HÁ VALOR MÍNIMO PARA SE INVESTIR NO SITE?
<br>
<l>R: IRÁ DEPENDER DE QUAL CORRETORA OU AGÊNCIA ESCOLHER;

<br>
<l>
</l>

</body>P: COMO EFETUAR O PAGAMENTO?

<br>
<l>R: ATRAVÉS DE PIX E BOLETOS, AINDA NÃO POSSUÍMOS SUPORTE PARA CC's ou CD's;

</l>
</html>